<!DOCTYPE html>
<html>
    <head>
        <!--Plugin CSS file with desired skin-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<style>
			html {
				color: #333;
				font-family: "proxima-nova",sans-serif;
				font-size: 16px;
				font-weight: 400;
				-webkit-font-smoothing: antialiased;
			}

			html body {
				margin-bottom: 70px !important;
			}

			html body {
				transition: margin 300ms ease-in-out;
			}

			body {
				position: relative;
				padding: 0;
				margin: 40px;
				background: #f4f4f6;
			}

			div {
				display: block;
			}

			.container {
				position: relative;
				width: 950px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 20px;
				box-sizing: border-box;
				display: flex;
				
			}

			.header {
				position: relative;
				width: 850px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 30px;
			}

			#left-container {
				position: relative;
				width: 240px;
				height: auto;
				box-sizing: border-box;
			}

			#right-container {
				position: relative;
				width: 700px;
				height: auto;
				min-height: 350px;
				box-sizing: border-box;
				background-color: white;
			}

			.range-slider {
				height: 60px;
				width: 180px;
				position: relative;
			}

			.btn-pos {
				width: 180px;
				margin-top: 30px;
			}

			.bottom-border {
				width: auto;
				margin-right: 20px;
				height: 10px;
				border-top: 1px solid #ccc;
			}

			#sp_df {
				color: blue;
			}




		</style>
		
        
        <!--jQuery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!--Plugin JavaScript file-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
		
    </head>
    <body>
		<div class="main">
			<div class="header">
				<h1>Financial Calculator</h1>
			</div>
			<div class="container">
				<div id="left-container">
					<form action="/calc" method="GET">
						<div class="input-unit">
							<label>Token APR: </label>
							<div class="extra-controls">
								<input type="text" class="js-input" value="0" id="i_apr" name="i_apr" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" id="r_apr" name="r_apr" value="" />
							</div>
							<div class="bottom-border"></div>
						</div>
	
						<div class="input-unit">
							<label>Gas Fee: </label>
							<div class="extra-controls">
								<input type="text" class="js-input" value="0" id="i_fee" name="i_fee" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" value="" id="r_fee" name="r_fee"/>
							</div>
							<div class="bottom-border"></div>
						</div>
	
						<div class="input-unit">
							<label>Time Horizon: </label>
							<div class="extra-controls">
								<input type="text" class="js-input" value="0" id="i_th" name="i_th" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" value="" id="r_th" name="r_th"/>
							</div>
							<div class="bottom-border"></div>
						</div>
	
						<div class="input-unit">
							<label>Token Start Count: </label>
							<div class="extra-controls">
								<input type="text" class="js-input" value="0" id="i_tsc" name="i_tsc" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" value="" id="r_tsc" name="r_tsc"/>
							</div>
							<div class="bottom-border"></div>
						</div>
	
						<div class="input-unit">
							<label>Token Start Price: </label>
							<div class="extra-controls">
								<input type="text" class="js-input" value="0" id="i_tsp" name="i_tsp" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" value="" id="r_tsp" name="r_tsp"/>
							</div>
							<div class="bottom-border"></div>
						</div>
	
						<div class="input-unit">
							<label>Token End Price: </label>
							<div class="extra-controls">
								<input type="text" class="js-input" value="0" id="i_tep" name="i_tep" />
							</div>
							<div class="range-slider">
								<input type="text" class="js-range-slider" value="" id="r_tep" name="r_tep"/>
							</div>
							<div class="bottom-border"></div>
						</div>	
						<div class="d-flex justify-content-md-center btn-pos">
							<button type="button" id="submit" class="btn btn-primary">Calculate</button>
						</div>
					</form>
				</div>
				<div id="right-container" class="d-flex justify-content-center">
					<div class="align-self-center">
						<h2>Deposit Frequency: <span id="sp_df"></span></h2>
						<div style="height: 600px; overflow: auto; margin-top: 50px;">
							<div id="results">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
        <script>
			$("#submit").on("click", function(){
				$.ajax({
					url: "/calc?ta=" + $("#i_apr").val() + "&gf=" + $("#i_fee").val() + "&th=" + $("#i_th").val() + "&tsc=" + $("#i_tsc").val() + "&tsp=" + $("#i_tsp").val() + "&tep=" + $("#i_tep").val(),
					type: "GET",
					datatype: "text",
			
					success: function (result) { 
						console.log(result);
						re_arr = result.split(",");
						$("#results").html("");
						$("#sp_df").text(re_arr[0] + " days");
						
						console.log(re_arr.length);
						for (i in re_arr) {
							if(i == 0) { continue;}
							$("#results").html($("#results").html() + "<h5>Depositing every " + i +" days: " + re_arr[i] + "</h5>")
						}
					},
					error: function (error) {
						console.log("Error");
					}       
				});
			});  
////////////// APR
			var $range_apr = $("#r_apr"),
				$input_apr = $("#i_apr"),
				instance_apr,
				min_apr = Number("{{ TOKEN_APR_MIN }}"),
				max_apr = Number("{{ TOKEN_APR_MAX }}"),
				from_apr = Number("{{ TOKEN_APR_FROM }}");
	
			$range_apr.ionRangeSlider({
				skin: "modern",
				type: "single",
				min: min_apr,
				max: max_apr,
				from: from_apr,
				onStart: function(data) {
					$input_apr.prop("value", data.from);
				},
				onChange: function(data) {
					$input_apr.prop("value", data.from);
				}
			});
	
			instance_apr = $range_apr.data("ionRangeSlider");
	
			$input_apr.on("change keyup", function() {
				var val = $(this).prop("value");
	
				// validate
				if (val < min_apr) {
					val = min_apr;
				} else if (val > max_apr) {
					val = max_apr;
				}
	
				instance_apr.update({
					from: val
				});
			});

////////////// Gas Fee
			var $range_fee = $("#r_fee"),
				$input_fee = $("#i_fee"),
				instance_fee,
				min_fee = Number("{{ GAS_FEE_MIN }}"),
				max_fee = Number("{{ GAS_FEE_MAX }}"),
				from_fee = Number("{{ GAS_FEE_FROM }}");
	
			$range_fee.ionRangeSlider({
				skin: "modern",
				type: "single",
				min: min_fee,
				max: max_fee,
				from: from_fee,
				onStart: function(data) {
					$input_fee.prop("value", data.from);
				},
				onChange: function(data) {
					$input_fee.prop("value", data.from);
				}
			});
	
			instance_fee = $range_fee.data("ionRangeSlider");
	
			$input_fee.on("change keyup", function() {
				var val = $(this).prop("value");
	
				// validate
				if (val < min_fee) {
					val = min_fee;
				} else if (val > max_fee) {
					val = max_fee;
				}
	
				instance_fee.update({
					from: val
				});
			});

////////////// Time Horizon
			var $range_th = $("#r_th"),
				$input_th = $("#i_th"),
				instance_th,
				min_th = Number("{{ TIME_HORIZON_DAYS_MIN }}"),
				max_th = Number("{{ TIME_HORIZON_DAYS_MAX }}"),
				from_th = Number("{{ TIME_HORIZON_DAYS_FROM }}");
	
			$range_th.ionRangeSlider({
				skin: "modern",
				type: "single",
				min: min_th,
				max: max_th,
				from: from_th,
				onStart: function(data) {
					$input_th.prop("value", data.from);
				},
				onChange: function(data) {
					$input_th.prop("value", data.from);
				}
			});
	
			instance_th = $range_th.data("ionRangeSlider");
	
			$input_th.on("change keyup", function() {
				var val = $(this).prop("value");
	
				// validate
				if (val < min_th) {
					val = min_th;
				} else if (val > max_th) {
					val = max_th;
				}
	
				instance_th.update({
					from: val
				});
			});

////////////// Token Start Count
			var $range_tsc = $("#r_tsc"),
				$input_tsc = $("#i_tsc"),
				instance_tsc,
				min_tsc = Number("{{ TOKEN_START_COUNT_MIN }}"),
				max_tsc = Number("{{ TOKEN_START_COUNT_MAX }}"),
				from_tsc = Number("{{ TOKEN_START_COUNT_FROM }}");
	
			$range_tsc.ionRangeSlider({
				skin: "modern",
				type: "single",
				min: min_tsc,
				max: max_tsc,
				from: from_tsc,
				onStart: function(data) {
					$input_tsc.prop("value", data.from);
				},
				onChange: function(data) {
					$input_tsc.prop("value", data.from);
				}
			});
	
			instance_tsc = $range_tsc.data("ionRangeSlider");
	
			$input_tsc.on("change keyup", function() {
				var val = $(this).prop("value");
	
				// validate
				if (val < min_tsc) {
					val = min_tsc;
				} else if (val > max_tsc) {
					val = max_tsc;
				}
	
				instance_tsc.update({
					from: val
				});
			});

////////////// Token Start Price
			var $range_tsp = $("#r_tsp"),
				$input_tsp = $("#i_tsp"),
				instance_tsp,
				min_tsp = Number("{{ TOKEN_START_PRICE_MIN }}"),
				max_tsp = Number("{{ TOKEN_START_PRICE_MAX }}"),
				from_tsp = Number("{{ TOKEN_START_PRICE_FROM }}");
	
			$range_tsp.ionRangeSlider({
				skin: "modern",
				type: "single",
				min: min_tsp,
				max: max_tsp,
				from: from_tsp,
				step: 0.01,
				onStart: function(data) {
					$input_tsp.prop("value", data.from);
				},
				onChange: function(data) {
					$input_tsp.prop("value", data.from);
				}
			});
	
			instance_tsp = $range_tsp.data("ionRangeSlider");
	
			$input_tsp.on("change keyup", function() {
				var val = $(this).prop("value");
	
				// validate
				if (val < min_tsp) {
					val = min_tsp;
				} else if (val > max_tsp) {
					val = max_tsp;
				}
	
				instance_tsp.update({
					from: val
				});
			});

////////////// Token End Price
			var $range_tep = $("#r_tep"),
				$input_tep = $("#i_tep"),
				instance_tep,
				min_tep = Number("{{ TOKEN_END_PRICE_MIN }}"),
				max_tep = Number("{{ TOKEN_END_PRICE_MAX }}"),
				from_tep = Number("{{ TOKEN_END_PRICE_FROM }}");
				
	
			$range_tep.ionRangeSlider({
				skin: "modern",
				type: "single",
				min: min_tep,
				max: max_tep,
				from: from_tep,
				step: 0.01,
				onStart: function(data) {
					$input_tep.prop("value", data.from);
				},
				onChange: function(data) {
					$input_tep.prop("value", data.from);
				}
			});
	
			instance_tep = $range_tep.data("ionRangeSlider");
	
			$input_tep.on("change keyup", function() {
				var val = $(this).prop("value");
	
				// validate
				if (val < min_tep) {
					val = min_tep;
				} else if (val > max_tep) {
					val = max_tep;
				}
	
				instance_tep.update({
					from: val
				});
			});
		</script>
    </body>
	
    
</html>