html {
    color: #333;
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

html body {
    margin-bottom: 70px !important;
}

html body {
    transition: margin 300ms ease-in-out;
}

body {
    position: relative;
    padding: 0;
    margin: 60px;
    background: #f4f4f6;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

div {
    display: block;
}

.container {
    position: relative;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    
}

.header {
    position: relative;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#left-container {
    position: relative;
    width: 240px;
    height: auto;
    box-sizing: border-box;
}

#right-container {
    position: relative;
    width: 700px;
    height: auto;
    min-height: 350px;
    box-sizing: border-box;
    background-color: white;
}

.range-slider {
    height: 50px;
    width: 180px;
    position: relative;
}

